body{
background-image: url(istockphoto-1366932582-612x612.jpg);



}

.tito{
    width: 300px;
    display: block;
    margin: 0 auto;
}

div{
border: 10px solid black; 
width: 300px;
height: 300px;
background-color: aliceblue;
padding: 10px;
margin: 50px;
}

#A{
position: absolute;
top: 50px;
left: 700px;
}

#B{
    position: absolute;
    top: 50px;
    left: 400px;
    }

 #C{
        position: absolute;
        top:50px;
        left: -1000px;
        }